.vs/
JobsAdmin.Core/bin/
JobsAdmin.Core/obj/
JobsAdmin.Framework/bin/
JobsAdmin.Framework/obj/
packages/
JobsAdmin.Jobs/bin/
JobsAdmin.Jobs/obj/
JobsAdmin.Web/bin/
JobsAdmin.Web/obj/
JobsAdmin.Handler/bin/
JobsAdmin.Handler/obj/
JobsAdmin.WebDotNetCore/bin/
JobsAdmin.WebDotNetCore/obj/
JobsAdmin.WebDotNetCore/node_modules/
